In [94]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [95]:
df = pd.read_csv("main_dataset.csv")
df.head()

,Unnamed: 0,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [96]:
df1 = pd.read_csv("drug_dict_onehot.csv")
df1.head()

,Unnamed: 0,inpatient.number,Atorvastatin calcium tablet,Benazepril hydrochloride tablet,Deslanoside injection,Digoxin tablet,Dobutamine hydrochloride injection,Furosemide injection,Furosemide tablet,Hydrochlorothiazide tablet,Isoprenaline Hydrochloride injection,Isosorbide Mononitrate Sustained Release tablet,Meglumine Adenosine Cyclophosphate for injection,Milrinone injection,Nitroglycerin injection,Shenfu injection,Spironolactone tablet,Torasemide tablet,Valsartan Dispersible tablet,sulfotanshinone sodium injection
0,0,722128,0,0,1,1,0,1,1,0,0,0,0,1,0,0,1,0,0,0
1,1,723327,1,0,1,1,0,1,1,0,0,1,0,1,0,0,1,1,1,0
2,2,723617,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
3,3,724385,0,0,1,1,0,1,1,0,0,0,0,1,0,0,1,0,0,0
4,4,725509,0,0,1,1,0,1,1,0,0,0,0,1,0,1,1,1,0,0

In [4]:
df['inpatient.number'].is_unique

True

In [5]:
df1['inpatient.number'].is_unique

False

In [6]:
len(df)

1997

In [7]:
len(df1['inpatient.number'].unique())

2004

In [8]:
li = []
for column in df:
    ct = df[column].isna().sum()
    if(ct>1500):
        li.append(column)

print(li)

['leukemia', 'EA', 'tricuspid.valve.return.pressure', 'myoglobin', 'Inorganic.Phosphorus', 'serum.magnesium', 'erythrocyte.sedimentation.rate', 'homocysteine', 'apolipoprotein.A', 'apolipoprotein.B', 'lipoprotein', 'body.temperature.blood.gas']

In [9]:
# li = []
# for column in df:
#     ct = df[column].isna().sum()
#     if(ct==2008):
#         li.append(column)

# print(li)

In [10]:
# df.drop('cholinesterase',axis=1,inplace=True)

In [11]:
# li.remove('cholinesterase')
# print(li)

In [12]:
li_new = {}

for i in li:
    ct = df[i].isna().sum()
    li_new.setdefault(i,ct)
    
print(li_new)

{'leukemia': 1997, 'EA': 1607, 'tricuspid.valve.return.pressure': 1817, 'myoglobin': 1600, 'Inorganic.Phosphorus': 1593, 'serum.magnesium': 1593, 'erythrocyte.sedimentation.rate': 1691, 'homocysteine': 1852, 'apolipoprotein.A': 1822, 'apolipoprotein.B': 1822, 'lipoprotein': 1822, 'body.temperature.blood.gas': 1997}

In [13]:
# df.drop(['time.of.death..days.from.admission.'],axis=1,inplace=True)
# df.head()

In [14]:
# del li_new['time.of.death..days.from.admission.']

In [15]:
print(li_new)

{'leukemia': 1997, 'EA': 1607, 'tricuspid.valve.return.pressure': 1817, 'myoglobin': 1600, 'Inorganic.Phosphorus': 1593, 'serum.magnesium': 1593, 'erythrocyte.sedimentation.rate': 1691, 'homocysteine': 1852, 'apolipoprotein.A': 1822, 'apolipoprotein.B': 1822, 'lipoprotein': 1822, 'body.temperature.blood.gas': 1997}

In [16]:
li1 = []
for column in df:
    ct = df[column].isna().sum()
    if(ct>1000 and ct <= 1500):
        li1.append(column)

print(li1)

['LVEF', 'mitral.valve.EMS', 'mitral.valve.AMS', 'tricuspid.valve.return.velocity', 'high.sensitivity.protein', 'glutamic.oxaliplatin', 'pH', 'standard.residual.base', 'standard.bicarbonate', 'partial.pressure.of.carbon.dioxide', 'total.carbon.dioxide', 'methemoglobin', 'hematocrit.blood.gas', 'reduced.hemoglobin', 'potassium.ion', 'chloride.ion', 'sodium.ion', 'glucose.blood.gas', 'lactate', 'measured.residual.base', 'measured.bicarbonate', 'carboxyhemoglobin', 'oxygen.saturation', 'partial.oxygen.pressure', 'oxyhemoglobin', 'anion.gap', 'free.calcium', 'total.hemoglobin']

In [17]:
# df.drop(['re.admission.time..days.from.admission.'],axis=1,inplace=True)
# df.drop(['time.to.emergency.department.within.6.months'],axis=1,inplace=True)
# df.head()

In [18]:
# df.drop(['DestinationDischarge', 'admission.ward','admission.way','occupation','discharge.department'], axis = 1,inplace=True)

In [19]:
df.head()

,Unnamed: 0,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [20]:
# df.drop(['weight','height'],axis=1,inplace=True)
# df.head()

In [21]:
df['respiratory.support.']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1992    0.0
1993    0.0
1994    0.0
1995    0.5
1996    0.0
Name: respiratory.support., Length: 1997, dtype: float64

In [22]:
df.replace('None', np.nan,inplace=True)

In [23]:
df['respiratory.support.']

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1992    0.0
1993    0.0
1994    0.0
1995    0.5
1996    0.0
Name: respiratory.support., Length: 1997, dtype: float64

In [24]:
df['gender'].replace('Female',0,inplace=True)
df['gender'].replace('Male',1,inplace=True)
df.head()

,Unnamed: 0,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [25]:
df['type.of.heart.failure'].replace('Left',0,inplace=True)
df['type.of.heart.failure'].replace('Right',1,inplace=True)
df['type.of.heart.failure'].replace('Both',2,inplace=True)
df.head()

,Unnamed: 0,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [26]:
df.to_csv("main_dataset.csv")

In [27]:
df['NYHA.cardiac.function.classification'].unique()

array([0.5, 0. , 1. ])

In [28]:
df['Killip.grade'].unique()

array([0.66666667, 0.        , 0.33333333, 1.        ])

In [29]:
df['NYHA.cardiac.function.classification'].replace('III',3,inplace=True)
df['NYHA.cardiac.function.classification'].replace('II',2,inplace=True)
df['NYHA.cardiac.function.classification'].replace('IV',4,inplace=True)

In [30]:
df['Killip.grade'].replace('I',1,inplace=True)
df['Killip.grade'].replace('II',2,inplace=True)
df['Killip.grade'].replace('III',3,inplace=True)
df['Killip.grade'].replace('IV',4,inplace=True)

In [31]:
df.head()

,Unnamed: 0,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [98]:
df.drop(['Unnamed: 0'],axis=1, inplace=True)

In [33]:
df.to_csv("main_dataset.csv")

In [34]:
df['type.II.respiratory.failure'].unique()

array([0., 1.])

In [35]:
df['type.II.respiratory.failure'].replace('NonTypeII',0,inplace=True)
df['type.II.respiratory.failure'].replace('TypeII',1,inplace=True)

In [36]:
df['consciousness'].unique()

array([0.        , 0.33333333, 0.66666667, 1.        ])

In [37]:
df.head()

,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,1.0,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [38]:
df['consciousness'].replace('Clear',1,inplace=True)
df['consciousness'].replace('ResponsiveToPain',2,inplace=True)
df['consciousness'].replace('ResponsiveToSound',3,inplace=True)
df['consciousness'].replace('Nonresponsive',4,inplace=True)

In [39]:
df.head()

,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,1.0,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [40]:
df['oxygen.inhalation'].unique()

array([0., 1.])

In [41]:
df['oxygen.inhalation'].replace('OxygenTherapy',0,inplace=True)
df['oxygen.inhalation'].replace('AmbientAir',1,inplace=True)

In [42]:
df['outcome.during.hospitalization'].unique()

array([0., 1.])

In [43]:
df['outcome.during.hospitalization'].replace('Alive',1,inplace=True)
df['outcome.during.hospitalization'].replace('Dead',0,inplace=True)
df['outcome.during.hospitalization'].replace('DischargeAgainstOrder',2,inplace=True)

In [44]:
df['ageCat'].unique()

array([0.66666667, 0.53333333, 0.8       , 0.4       , 1.        ,
       0.13333333, 0.26666667, 0.        ])

In [45]:
df['ageCat'].replace('(21,29]',25,inplace=True)
df['ageCat'].replace('(29,39]',35,inplace=True)
df['ageCat'].replace('(39,49]',45,inplace=True)
df['ageCat'].replace('(49,59]',55,inplace=True)
df['ageCat'].replace('(59,69]',65,inplace=True)
df['ageCat'].replace('(69,79]',75,inplace=True)
df['ageCat'].replace('(79,89]',85,inplace=True)
df['ageCat'].replace('(89,110]',100,inplace=True)

In [46]:
df['ageCat']

0       0.666667
1       0.666667
2       0.533333
3       0.666667
4       0.666667
          ...
1992    0.800000
1993    0.800000
1994    0.266667
1995    0.400000
1996    0.800000
Name: ageCat, Length: 1997, dtype: float64

In [47]:
df.head()

,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,1.0,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [48]:
df.to_csv("main_dataset.csv")

In [49]:
df["outcome.during.hospitalization"].value_counts()

0.0    1890
1.0     107
Name: outcome.during.hospitalization, dtype: int64

In [50]:
# df.drop(df[df['outcome.during.hospitalization'] == 0].index, inplace = True)
# df["outcome.during.hospitalization"].value_counts()

In [51]:
# df.drop(["death.within.6.months","death.within.28.days","death.within.3.months"],axis=1,inplace=True)
# df.head()

In [52]:
# df.drop(["visit.times"],axis=1,inplace=True)

In [53]:
# df.drop(["dischargeDay"],axis=1,inplace=True)

In [54]:
# df.drop(["re.admission.within.28.days","re.admission.within.3.months","re.admission.within.6.months"],axis=1,inplace=True)
# df.head()

In [55]:
from sklearn import preprocessing

In [56]:
from sklearn.preprocessing import StandardScaler

In [57]:
# # Assuming same lines from your example
# cols_to_norm = ['gender','body.temperature','pulse','respiration','systolic.blood.pressure','diastolic.blood.pressure','map','BMI','type.of.heart.failure','NYHA.cardiac.function.classification','Killip.grade','myocardial.infarction']
# df[cols_to_norm] = df[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [58]:

df.head()

,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,1.0,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [59]:
x=df.columns

In [60]:
a=x[13:34]

In [61]:
# # Assuming same lines from your example
# cols_to_norm = a
# df[cols_to_norm] = df[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [62]:
# #respiratory support has to be one hot encoded, we have forgotten about that
# # Assuming same lines from your example
# cols_to_norm = x[35:35]
# df[cols_to_norm] = df[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [63]:
df.head()

,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,1.0,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [64]:
#df.to_csv("main_dataset.csv")

In [65]:
x[35:147]

Index(['oxygen.inhalation', 'fio2', 'acute.renal.failure', 'LVEF',
       'left.ventricular.end.diastolic.diameter.LV', 'mitral.valve.EMS',
       'mitral.valve.AMS', 'EA', 'tricuspid.valve.return.velocity',
       'tricuspid.valve.return.pressure',
       ...
       'carboxyhemoglobin', 'body.temperature.blood.gas', 'oxygen.saturation',
       'partial.oxygen.pressure', 'oxyhemoglobin', 'anion.gap', 'free.calcium',
       'total.hemoglobin', 'GCS', 'ageCat'],
      dtype='object', length=112)

In [66]:
cols_to_norm = x[35:147]
df[cols_to_norm] = df[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [67]:
df.head()

,inpatient.number,gender,body.temperature,pulse,respiration,systolic.blood.pressure,diastolic.blood.pressure,map,BMI,type.of.heart.failure,...,carboxyhemoglobin,body.temperature.blood.gas,oxygen.saturation,partial.oxygen.pressure,oxyhemoglobin,anion.gap,free.calcium,total.hemoglobin,GCS,ageCat
0,857781,1.0,0.242857,0.439394,0.527778,0.404762,0.438356,0.422794,0.046006,1.0,...,0.075472,NaN,0.96,0.310638,0.957219,0.527778,0.5,0.535714,1.0,0.666667
1,743087,0.0,0.257143,0.479798,0.500000,0.595238,0.479452,0.533088,0.047504,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
2,866418,1.0,0.214286,0.494949,0.500000,0.404762,0.458904,0.433824,0.059942,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.533333
3,775928,1.0,0.142857,0.368687,0.527778,0.436508,0.506849,0.474265,0.055660,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667
4,810128,0.0,0.000000,0.444444,0.527778,0.531746,0.424658,0.474265,0.078285,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.666667

In [68]:
df["respiratory.support."].value_counts()

0.0    1959
0.5      21
1.0      17
Name: respiratory.support., dtype: int64

In [69]:
df["respiratory.support."]=df["respiratory.support."].fillna(0)

In [70]:
df["respiratory.support."]=df["respiratory.support."].replace("IMV",1)
df["respiratory.support."]=df["respiratory.support."].replace("NIMV",2)

In [71]:
cols_to_norm =["respiratory.support."]
df[cols_to_norm] = df[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [72]:
#df.to_csv("main_dataset.csv")

In [73]:
# df.drop(["return.to.emergency.department.within.6.months"],axis=1,inplace=True)
# df.head()

In [74]:
# df.drop(["outcome.during.hospitalization"],axis=1,inplace=True)
# df.head()

In [75]:
df1.head()

,Unnamed: 0,inpatient.number,Drug_name
0,1,857781,sulfotanshinone sodium injection
1,2,857781,Furosemide tablet
2,3,857781,Meglumine Adenosine Cyclophosphate for injection
3,4,857781,Furosemide injection
4,5,857781,Milrinone injection

In [76]:
# df1.drop(["Unnamed: 0"],axis=1,inplace=True)
# df1.head()

In [77]:
df1["Drug_name"].count()

12654

In [78]:
df1["Drug_name"].unique()

array(['sulfotanshinone sodium injection', 'Furosemide tablet',
       'Meglumine Adenosine Cyclophosphate for injection',
       'Furosemide injection', 'Milrinone injection',
       'Deslanoside injection', 'Torasemide tablet',
       'Benazepril hydrochloride tablet', 'Atorvastatin calcium tablet',
       'Digoxin tablet', 'Hydrochlorothiazide tablet',
       'Spironolactone tablet', 'Valsartan Dispersible tablet',
       'Dobutamine hydrochloride injection',
       'Isoprenaline Hydrochloride injection', 'Nitroglycerin injection',
       'Shenfu injection',
       'Isosorbide Mononitrate Sustained Release tablet'], dtype=object)

In [79]:
df1["Drug_name"].value_counts()

Spironolactone tablet                               1833
Furosemide injection                                1718
Furosemide tablet                                   1641
Meglumine Adenosine Cyclophosphate for injection    1114
Deslanoside injection                               1015
Digoxin tablet                                       998
Atorvastatin calcium tablet                          822
Milrinone injection                                  707
sulfotanshinone sodium injection                     570
Benazepril hydrochloride tablet                      434
Valsartan Dispersible tablet                         348
Shenfu injection                                     338
Isosorbide Mononitrate Sustained Release tablet      326
Hydrochlorothiazide tablet                           283
Torasemide tablet                                    252
Nitroglycerin injection                              203
Isoprenaline Hydrochloride injection                  30
Dobutamine hydrochloride injection                    22
Name: Drug_name, dtype: int64

In [80]:
df3 = pd.get_dummies(df1.Drug_name)

In [81]:
merged = pd.concat([df1,df3],axis=1)
merged.head(9)

,Unnamed: 0,inpatient.number,Drug_name,Atorvastatin calcium tablet,Benazepril hydrochloride tablet,Deslanoside injection,Digoxin tablet,Dobutamine hydrochloride injection,Furosemide injection,Furosemide tablet,...,Isoprenaline Hydrochloride injection,Isosorbide Mononitrate Sustained Release tablet,Meglumine Adenosine Cyclophosphate for injection,Milrinone injection,Nitroglycerin injection,Shenfu injection,Spironolactone tablet,Torasemide tablet,Valsartan Dispersible tablet,sulfotanshinone sodium injection
0,1,857781,sulfotanshinone sodium injection,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,857781,Furosemide tablet,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3,857781,Meglumine Adenosine Cyclophosphate for injection,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
3,4,857781,Furosemide injection,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,5,857781,Milrinone injection,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
5,6,857781,Deslanoside injection,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,857781,Torasemide tablet,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7,8,857781,Benazepril hydrochloride tablet,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,9,857781,Atorvastatin calcium tablet,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
#s = list(df1["Drug_name"].unique())
#merged = merged.drop(['Unnamed: 0','Drug_name'],axis=1)
merged = merged.drop(['Drug_name'],axis=1)
merged.head()

,Unnamed: 0,inpatient.number,Atorvastatin calcium tablet,Benazepril hydrochloride tablet,Deslanoside injection,Digoxin tablet,Dobutamine hydrochloride injection,Furosemide injection,Furosemide tablet,Hydrochlorothiazide tablet,Isoprenaline Hydrochloride injection,Isosorbide Mononitrate Sustained Release tablet,Meglumine Adenosine Cyclophosphate for injection,Milrinone injection,Nitroglycerin injection,Shenfu injection,Spironolactone tablet,Torasemide tablet,Valsartan Dispersible tablet,sulfotanshinone sodium injection
0,1,857781,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,2,857781,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,3,857781,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,4,857781,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,5,857781,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0

In [83]:
aggregation_function ={'inpatient.number':'first','sulfotanshinone sodium injection' :'sum','Furosemide tablet':'sum',
'Meglumine Adenosine Cyclophosphate for injection':'sum',
 'Furosemide injection':'sum',
 'Milrinone injection':'sum',
 'Deslanoside injection':'sum',
 'Torasemide tablet':'sum',
 'Benazepril hydrochloride tablet':'sum',
 'Atorvastatin calcium tablet':'sum',
 'Digoxin tablet':'sum',
 'Hydrochlorothiazide tablet':'sum',
 'Spironolactone tablet':'sum',
 'Valsartan Dispersible tablet':'sum',
 'Dobutamine hydrochloride injection':'sum',
 'Isoprenaline Hydrochloride injection':'sum',
 'Nitroglycerin injection':'sum',
 'Shenfu injection':'sum',
 'Isosorbide Mononitrate Sustained Release tablet':'sum'}
df_new = merged.groupby(merged['inpatient.number']).aggregate(aggregation_function)
#df_new = df_new.iloc[: , 1:]
df_new.head()

,inpatient.number,sulfotanshinone sodium injection,Furosemide tablet,Meglumine Adenosine Cyclophosphate for injection,Furosemide injection,Milrinone injection,Deslanoside injection,Torasemide tablet,Benazepril hydrochloride tablet,Atorvastatin calcium tablet,Digoxin tablet,Hydrochlorothiazide tablet,Spironolactone tablet,Valsartan Dispersible tablet,Dobutamine hydrochloride injection,Isoprenaline Hydrochloride injection,Nitroglycerin injection,Shenfu injection,Isosorbide Mononitrate Sustained Release tablet
inpatient.number,,,,,,,,,,,,,,,,,,,
722128,722128,0,1,0,1,1,1,0,0,0,1,0,1,0,0,0,0,0,0
723327,723327,0,1,0,1,1,1,1,0,1,1,0,1,1,0,0,0,0,1
723617,723617,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0
724385,724385,0,1,0,1,1,1,0,0,0,1,0,1,0,0,0,0,0,0
725509,725509,0,1,0,1,1,1,1,0,0,1,0,1,0,0,0,0,1,0

In [84]:
df_new.reset_index(drop = True, inplace = True)
df_new = df_new.sort_values('inpatient.number',ascending=True)
df_new.head()

,inpatient.number,sulfotanshinone sodium injection,Furosemide tablet,Meglumine Adenosine Cyclophosphate for injection,Furosemide injection,Milrinone injection,Deslanoside injection,Torasemide tablet,Benazepril hydrochloride tablet,Atorvastatin calcium tablet,Digoxin tablet,Hydrochlorothiazide tablet,Spironolactone tablet,Valsartan Dispersible tablet,Dobutamine hydrochloride injection,Isoprenaline Hydrochloride injection,Nitroglycerin injection,Shenfu injection,Isosorbide Mononitrate Sustained Release tablet
0,722128,0,1,0,1,1,1,0,0,0,1,0,1,0,0,0,0,0,0
1,723327,0,1,0,1,1,1,1,0,1,1,0,1,1,0,0,0,0,1
2,723617,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0
3,724385,0,1,0,1,1,1,0,0,0,1,0,1,0,0,0,0,0,0
4,725509,0,1,0,1,1,1,1,0,0,1,0,1,0,0,0,0,1,0

In [85]:
#df_new.sum(axis = 0, skipna = True)

In [86]:
df_new = df_new.sort_index(axis=1)
df_new = df_new[ ['inpatient.number'] + [ col for col in df_new.columns if col != 'inpatient.number' ] ]
#df_new.loc[df_new['inpatient.number']==857781]
df_new.head()

,inpatient.number,Atorvastatin calcium tablet,Benazepril hydrochloride tablet,Deslanoside injection,Digoxin tablet,Dobutamine hydrochloride injection,Furosemide injection,Furosemide tablet,Hydrochlorothiazide tablet,Isoprenaline Hydrochloride injection,Isosorbide Mononitrate Sustained Release tablet,Meglumine Adenosine Cyclophosphate for injection,Milrinone injection,Nitroglycerin injection,Shenfu injection,Spironolactone tablet,Torasemide tablet,Valsartan Dispersible tablet,sulfotanshinone sodium injection
0,722128,0,0,1,1,0,1,1,0,0,0,0,1,0,0,1,0,0,0
1,723327,1,0,1,1,0,1,1,0,0,1,0,1,0,0,1,1,1,0
2,723617,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
3,724385,0,0,1,1,0,1,1,0,0,0,0,1,0,0,1,0,0,0
4,725509,0,0,1,1,0,1,1,0,0,0,0,1,0,1,1,1,0,0

In [6]:
#df_new.to_csv('drug_dict_onehot.csv')

In [107]:
df1.head()

,inpatient.number,Atorvastatin calcium tablet,Benazepril hydrochloride tablet,Deslanoside injection,Digoxin tablet,Dobutamine hydrochloride injection,Furosemide injection,Furosemide tablet,Hydrochlorothiazide tablet,Isoprenaline Hydrochloride injection,Isosorbide Mononitrate Sustained Release tablet,Meglumine Adenosine Cyclophosphate for injection,Milrinone injection,Nitroglycerin injection,Shenfu injection,Spironolactone tablet,Torasemide tablet,Valsartan Dispersible tablet,sulfotanshinone sodium injection
0,722128,0,0,1,1,0,1,1,0,0,0,0,1,0,0,1,0,0,0
1,723327,1,0,1,1,0,1,1,0,0,1,0,1,0,0,1,1,1,0
2,723617,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0
3,724385,0,0,1,1,0,1,1,0,0,0,0,1,0,0,1,0,0,0
4,725509,0,0,1,1,0,1,1,0,0,0,0,1,0,1,1,1,0,0

In [108]:
df1.tail()

,inpatient.number,Atorvastatin calcium tablet,Benazepril hydrochloride tablet,Deslanoside injection,Digoxin tablet,Dobutamine hydrochloride injection,Furosemide injection,Furosemide tablet,Hydrochlorothiazide tablet,Isoprenaline Hydrochloride injection,Isosorbide Mononitrate Sustained Release tablet,Meglumine Adenosine Cyclophosphate for injection,Milrinone injection,Nitroglycerin injection,Shenfu injection,Spironolactone tablet,Torasemide tablet,Valsartan Dispersible tablet,sulfotanshinone sodium injection
1999,870258,0,0,0,0,1,1,1,0,0,0,0,1,1,0,1,0,1,0
2000,870646,0,1,0,0,0,1,1,0,0,0,0,0,1,0,1,0,0,0
2001,879601,1,1,1,1,0,1,1,0,0,0,1,1,1,0,1,0,0,0
2002,905163,0,1,1,1,0,1,0,0,0,0,1,1,0,1,1,1,0,0
2003,905720,1,0,0,1,0,1,1,0,0,0,1,0,0,0,1,0,0,1

In [109]:
# 802296, 773090,863531,811749,849274,869467,834443,854580,765343,828678,805475,750447
# patient numbers of patients who died

In [122]:
 df.drop(df[df['inpatient.number'] == 802296].index, inplace = True)

In [129]:
 a=[802296, 773090,863531,811749,849274,869467,834443,854580,765343,828678,805475,750447]
 for i in a:
      df1.drop(df1[df1['inpatient.number'] ==i ].index, inplace = True)

In [127]:
len(df)

1996

In [130]:
len(df1['inpatient.number'])

1996

In [132]:
pd.concat([df['inpatient.number'],df1['inpatient.number']]).drop_duplicates(keep=False)

243     863648
2003     86364
Name: inpatient.number, dtype: int64

In [133]:
# 243     863648
# 1383    796480
# 1452    789308
# 1978    829624
# the indexes that have been given no medicene at all
#  86364,796480, 789308 ,829624

In [116]:
a=[]
for col in df1.columns:
    a.append(col)

In [117]:
a

['inpatient.number',
 'Atorvastatin calcium tablet',
 'Benazepril hydrochloride tablet',
 'Deslanoside injection',
 'Digoxin tablet',
 'Dobutamine hydrochloride injection',
 'Furosemide injection',
 'Furosemide tablet',
 'Hydrochlorothiazide tablet',
 'Isoprenaline Hydrochloride injection',
 'Isosorbide Mononitrate Sustained Release tablet',
 'Meglumine Adenosine Cyclophosphate for injection',
 'Milrinone injection',
 'Nitroglycerin injection',
 'Shenfu injection',
 'Spironolactone tablet',
 'Torasemide tablet',
 'Valsartan Dispersible tablet',
 'sulfotanshinone sodium injection']

In [137]:
 b=[863648,796480, 789308 ,829624]
 print(b)

[863648, 796480, 789308, 829624]

In [119]:
for i in b:
    a={'inpatient.number':i,
    'Atorvastatin calcium tablet':0,
    'Benazepril hydrochloride tablet':0,
    'Deslanoside injection':0,
    'Digoxin tablet':0,
    'Dobutamine hydrochloride injection':0,
    'Furosemide injection':0,
    'Furosemide tablet':0,
    'Hydrochlorothiazide tablet':0,
    'Isoprenaline Hydrochloride injection':0,
    'Isosorbide Mononitrate Sustained Release tablet':0,
    'Meglumine Adenosine Cyclophosphate for injection':0,
    'Milrinone injection':0,
    'Nitroglycerin injection':0,
    'Shenfu injection':0,
    'Spironolactone tablet':0,
    'Torasemide tablet':0,
    'Valsartan Dispersible tablet':0,
    'sulfotanshinone sodium injection':0}
    df1 = df1.append(a, ignore_index=True)

In [138]:
    a={'inpatient.number':863648,
    'Atorvastatin calcium tablet':0,
    'Benazepril hydrochloride tablet':0,
    'Deslanoside injection':0,
    'Digoxin tablet':0,
    'Dobutamine hydrochloride injection':0,
    'Furosemide injection':0,
    'Furosemide tablet':0,
    'Hydrochlorothiazide tablet':0,
    'Isoprenaline Hydrochloride injection':0,
    'Isosorbide Mononitrate Sustained Release tablet':0,
    'Meglumine Adenosine Cyclophosphate for injection':0,
    'Milrinone injection':0,
    'Nitroglycerin injection':0,
    'Shenfu injection':0,
    'Spironolactone tablet':0,
    'Torasemide tablet':0,
    'Valsartan Dispersible tablet':0,
    'sulfotanshinone sodium injection':0}
    df1 = df1.append(a, ignore_index=True)

In [141]:
len(df)

1996

In [144]:
df1[df1['inpatient.number']==86364]

,inpatient.number,Atorvastatin calcium tablet,Benazepril hydrochloride tablet,Deslanoside injection,Digoxin tablet,Dobutamine hydrochloride injection,Furosemide injection,Furosemide tablet,Hydrochlorothiazide tablet,Isoprenaline Hydrochloride injection,Isosorbide Mononitrate Sustained Release tablet,Meglumine Adenosine Cyclophosphate for injection,Milrinone injection,Nitroglycerin injection,Shenfu injection,Spironolactone tablet,Torasemide tablet,Valsartan Dispersible tablet,sulfotanshinone sodium injection
1992,86364,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [145]:
 df1.drop(df1[df1['inpatient.number'] == 86364].index, inplace = True)

In [146]:
pd.concat([df['inpatient.number'],df1['inpatient.number']]).drop_duplicates(keep=False)
# both dataframes have same values

Series([], Name: inpatient.number, dtype: int64)